.AppBar{
    background-color: #65B1C2!important;
    height:90px;
    width:100vw;

}
.searchMenu{
    width:60vh;
    height: 60px;
}
.icon{
   font-size: 2.3rem!important;
}
.logoNavBar{
    padding-top: 15px;
    width:110px;
    height:100px;
    margin-top: 5px;

}
.bg{
    background-color: white;
    color:black;
}

.tituloNavBar {
    color: white;
    text-decoration: inherit;
    margin-left: 10px;
}


.inputNavBar{
    width: 70%;
    height: 30px;
    margin-top: 3%;
    
}