.flexcard{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%!important;
    position: inherit;
    bottom:0 ;
}
.card{
    height: 300px;
    padding:5px;
    min-width: 190px; 
    margin-bottom: 5%;   
    } 
    .cardImagem{      
    width: 300px;
    height: 250px;;
    max-width: 300px;
    border-radius: 15px 15px 0px 0px;
    }     
    .price{
    font-size: 25px;
    color: #39a542;
    font-weight: 500;
    padding:0;
    margin:0;
    }
    .description{
    font-size: 1.5rem;
    color: black;
    overflow-wrap:break-word;
    overflow: visible;
    max-width: 200px;
    margin:0;
    }
    .categoria{
        font-size: 1.2rem;
        color: white;
        overflow-wrap:break-word;
        overflow: visible;
        max-width: 200px;
        margin-top: -30px;
        
        }

.aux{
    background:#65B1C2;
    color:white;
}

.loading{
    display: flex;
    
}