.rec.rec-arrow {
    border-radius: 0;
    background-color: #65B1C2;
    color:white;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
    border-radius: 50%;
    background-color: #65B1C2;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
    visibility: hidden;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px rgb(255, 253, 253);
    background-color: #65B1C2;
}

.rec.rec-arrow :checked {
    border-radius: 0;
    background-color: #65B1C2;
    color:white;
}
.imagemCarrosel{
     width:100%;
     height: 400px;
}
.rec.rec-dot:hover{
    background-color: aquamarine;
    color:white;
    border-color: red;
}
.rec.rec-dot{
    background-color: rgb(190, 194, 193);
    border-color: red;
    color:white;
}
.rec.rec-dot:checked{
    background-color: aquamarine;
    color:white;
    border-color: red;
}
.rec.rec-dot:focus{
    background-color: aquamarine;
    color:white;
    border-color: red;
}
.rec.rec-dot:enabled{
    background-color: rgb(190, 194, 193);
    border-color: red;
    color:white;
}